<%- include('./common/head.ejs') %>
<%- include('./common/nav.ejs') %>

<div class="container">
    <div class="row">
        <% product.forEach(pro => { %>
            <div class="col-md-4">
                <div class="card mt-5">
                    <img src="<%= pro.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= pro.title %></h5>
                        <h5 class="card-title">Rs.<%= pro.price %></h5>
                        <p class="card-text"><%= pro.description %></p>
                        <form action="/cart/<%= pro.id %>" method="POST">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('./common/end.ejs') %>
